@charset utf-8;
@import url(http://fonts.googleapis.com/css?family=Electrolize);
::-webkit-scrollbar-track-piece{
    background-color:#EEE;
    -webkit-border-radius:0;
}
::-webkit-scrollbar{
    width:16px;
    height:8px;
}
::-webkit-scrollbar-thumb{
    height:50px;
    background-color:#DDD;
    -webkit-border-radius:4px;
    outline:2px solid #EEE;
    outline-offset:-2px;
    border: 2px solid #EEE;
}
::-webkit-scrollbar-thumb:hover{
    height:50px;
    background-color:#55bbee;
    -webkit-border-radius:4px;
}
::selection {
    color: #fff;
    background-color: #55bbee;
    text-shadow:none;
}
::-moz-selection {
    color: #fff;
    background-color: #55bbee;
    text-shadow:none;
}

* {
    margin:0;
    padding:0;
}
body {
    background:#ffffff;
    line-height:180%;
    font-size:14px;
    font-family:'Microsoft Yahei',Verdana,Arial,Helvetica,sans-serif;
    text-align:center;
    color:#333;
    margin:0;
}
div,form,img,ul,ol,li,dl,dt,dd {
    border:0;
    text-align:left;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:400;
    margin:0 auto;
    padding:0;
}
h2 {
    margin:0 0 20px 0;
}
table,td,tr,th {
    font-size:12px;
}
ul,li {
    list-style-type:none;
    list-style:none;
}
input,textarea {
    outline:none;
}
form,embed {
    display:inline;
    margin:0;
    padding:0;
}
img {
    border:0;
}
a {
    color:#3399cc;
    text-decoration:none;
}
a:hover {
    color:#3399cc;
}
hr {
    width: 10em;
    border: none;
    border-top: 1px dashed #d0d0d0;
    border-bottom: 1px dashed #f9f9f9;
}
blockquote{
    background-color: #e2e2e2;
    padding: 0.5em 1em;;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    color: #555;
    margin: 15px 0 10px 0;
    text-shadow: none;
    border: 1px solid #ccc;
    border-left: 0.4em solid #bbb;
}
code {
    display: block;
    padding: 0.5em 1em;
    margin: 1em 0;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background-color: #E2E2E2;
    font-family: Consolas,Menlo,Monaco,monospace,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New";
    line-height: 18px;
    white-space:pre-wrap;
    word-wrap:break-word
}

blockquote code{
    margin:0;
    border:0;
}

.clear {
    clear:both;
}
#wrap {
    position:relative;
    table-layout:fixed;
    word-break:break-all;
    margin:0 auto;
    width:815px;
    min-height:300px;
    display:inline-block;
    padding:0 5px 0 5px;

}
#bottombar {
    height:120px;
    margin-top:-200px;
}
#header {
    margin:40px 20px 0 20px;
    padding:0 0 20px 0;
    border-bottom:1px solid #ddd;
    height:46px;
}
#title h1 a{
    color:#3399cc;
    font-size:52px;
    line-height:52px;
    font-family:'Comic Sans MS','Microsoft Yahei';
    overflow:hidden;
}
#title h1 a:hover{
    color:#55bbee;
}
#nav {
    float:left;
    width:9em;
    margin-left:-12em;
    font-size:1.3em;
    text-align:right;
    text-transform:uppercase;
    font-family: 'Electrolize',sans-serif;
}
#nav a{
    display:block;
    padding:.7em 1em;
    color: black;
}
#nav a:hover{
    background-color:#ff0000;
    text-decoration:none;
    color:#f9f9f9;
    -webkit-transition:color .2s linear;
}
#content {
    float:left;
    padding:0 20px 0 20px;
    margin-top:25px;
}
.post {
    clear:both;
    position:relative;
}
.postunder {
    clear:both;
    position:relative;
    margin:10px 0 10px;
}
.date {
    color:#333333;
    text-transform:uppercase;
    font-weight:normal;
    text-shadow:1px 1px 0 #ddd;
    width:80px;
    height:30px;
    float:left;
    margin:4px 10px 0 0;
    padding:0 10px 0 0;
    border-right:1px solid #ddd;
}
.date .day {
    font-size:30px;
    float:left;
    line-height:56px;
    margin-top:-14px;
    color:#3399cc;
    font-weight:800;
}
.post .date .month {
    font-size:12px;
    position:relative;
    top:-4px;
    width:35px;
    float:right;
}
.date .year {
    font-size:12px;
    position:relative;
    top:-12px;
    width:35px;
    float:right;
}
.post h2 a {
    color:#3399cc;
}
.post h2 a:hover {
    color:#555;
}
.post h2 {
    padding-top:7px;
    margin-bottom:12px;
}
.post h2,#comments h4 {
    font-size:18px;
    color:#3399cc;
    text-decoration:none;
    font-weight:normal;
}
#comments h4{
    height:28px;
}
#comments #response{
    border-bottom:1px solid #ddd;
}
.post h3 {
    color:#3399cc;
    margin-top:8px;
    border-left:solid 5px #3399cc;
    padding-left:15px;
}
.post .blue {
    font-family:'Courier New','Microsoft Yahei',Helvetica, sans-serif;
    white-space:pre-wrap;
    background-color:#eaf7ff;
}
.post .con ul {
    margin: 5px 0;
}
.post .con li {
    list-style-type:none;
    min-height:20px;
    line-height:1.4em;
    padding:4px 0px;
    margin-left:1.1em;
}
.post .con ul li {
    list-style:disc inside;
}
.post .con ol li {
    list-style:decimal inside;
}
.page .post .con ul li {
    list-style:none;
}
.page .post .con ol li {
    list-style:none;
}
.post .con .oddli {
    padding:6px 10px;
    -webkit-transition:background .3s linear;
    -moz-transition:background .3s linear;
    -o-transition:background .3s linear;
    transition:background .3s linear;
}
.post .info {
    line-height:22px;
    padding:10px 0 0 10px;
    color:#666;
    text-transform:uppercase;
    float:right;
}
.post .pageinfo {
    height:4px;
    margin-top:12px;
    position:relative;
    padding:2px 0 0;
}

.post .intro {
    font-size:14px;
    margin:10px 3px;
}

.post .intro p {
    text-align:justify;
    text-justify:inter-ideograph;
    padding:5px 0;
}

.post .intro p img {
    max-width:600px;
}

.post .con {
    font-family:'Microsoft Yahei',Verdana,Arial,Helvetica,sans-serif;
    color:#555;
    padding-bottom:30px;
}

.post .con img {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    max-width:600px;
    padding:5px;
    border:solid 1px #ddd;
}

.post .con p {
    text-align:justify;
    text-justify:inter-ideograph;
    padding:8px 0;
}
.post .con div p {
    text-align:justify;
    text-justify:inter-ideograph;
    padding: 0;
    text-indent: 0;
}
.post .con p.imgc{
    text-align: center;
}
.post .con p a {
    color:#3399cc;
    text-decoration:none;
}

.post .con p.more a {
    margin:0;
}

.post .con p a:hover {
    text-decoration:underline;
}

#footer {
    padding:20px 20px 41px 20px;
    display:block;
}

#copyright {
    color:#AAA;
}

#copyright a{
    color:#888;
}

#copyright a:hover {
    border-bottom: 1px dashed #BBB;
}

.foot{
    position:relative;
    margin:0 auto;
    border-top:1px #E3E3E3 solid;
}

.foot #gotop {
    float:right;
    margin-left:0px;
    padding-top:8px;
}

.tags {
    overflow:auto;
    line-height:20px;
}

.tags a {
    color:#999999;
    padding-right:9px;
    font-size:12px;
    white-space:nowrap;
}

.tags a:hover {
    color:#dd1144;
}

.col2,.col1 {
    padding:0;margin:0;
} 
.col1 {
    width:194px;
    float:left;
    padding:0 5px 0;
    margin-left: -205px;
    left: 205px;
    position: relative;
    overflow:hidden;
    background-position:right top;
}
.col2 {
    width:100%;
    height:auto;
    float:left;
    position: relative;
    background-position:0 0;
}
.com {
    position:relative;
}
.com p {
    margin:0;
}
.submit {
    font-size:12px;
    width:100%;
    border:none;
    margin-top:2px;
    font-family:Verdana,'Microsoft Yahei',Arial,Helvetica,sans-serif;
    color:#fff;
    height: 22px;
    display: block;
    font-size: 12px;
    border: none;
    font-family: 'Microsoft Yahei',Verdana,Arial,Helvetica,sans-serif;
    color: white;
    display: block;
    background: #959595;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.submit:hover {
    color:white;
    background:#DC2509;
}
.form .go {
    display:none;
}
.navigation .nav-previous {
    float:left;
}
.div-line{
    border-bottom:1px solid #DDD;
    height:1px;
    text-indent:-9999px;
    margin:0 0 8px 0;
}
.post h4 {
    color:#3399cc;
    margin-top:8px;
    border-left:solid 5px #3399cc;
    padding-left:15px;
}
.post .wall {
    line-height:18px;
    overflow:hidden;
    text-align:left;
}
.post .wall li {
    list-style:none outside none;
    float:left;
    width:178px;
    padding: 0;
}
.post .wall li a {
    border:1px solid #CBCBCB;
    border-radius:2px 2px 2px 2px;
    box-shadow:0 0 2px #EEE;
    color:#999;
    display:block;
    height:42px;
    margin:4px;
    overflow:hidden;
    padding:4px 4px 4px 44px;
    position:relative;
    text-decoration:none;
}
.post .wall li a,.post-text .wall li a:hover strong {
    background-color:#F7F7F7;
    background-image:0;
}
.post .wall li a:hover,
.post .wall li strong:hover {
    color:#47AFD5;
}
.post .wall li a img {
    border-radius:2px 2px 2px 2px;
    float:left;
    height:36px;
    margin:0 8px 0 -40px;
    width:36px;
    padding: 2px;
}
.post .wall li a em {
    color:#666;
    font-style:normal;
    margin-right:10px;
}
.post .wall li a strong {
    color:#DDD;
    font:bold 14px/16px microsoft yahei;
    position:absolute;
    right:6px;
    text-align:right;
    top: 5px;
    width:40px;
}
.post .wall li a div.active-bg {
    width: 106px;
    height: 6px;
    _font-size: 0;
    margin: 10px 0 0 11px;
    background: #DFDFDF;
    border-radius: 3px 3px 3px 3px;
}
.post .wall li a div.active-degree {
    background: #009DFF;
    width: 12px;
    height: 6px;
    _font-size: 0;
    border-radius: 3px 3px 3px 3px;
}
.page {
    padding-bottom: 10px !important;
    margin-top: 5px !important;
}
.page img{
    max-width:800px !important;
    padding:0px !important;
    box-shadow: 2px 2px 2px #000 !important;
}
.prev_and_next{
    font-size: 14px;
}
.prev_and_next a{
    color: #55bbee;
}
.prev_and_next div{
    line-height: 30px;
}
.prev_and_next div span{
    font-weight:normal;
    color:#666;
    margin-left:10px;
    font-size: 12px;
}
.tag_list {
    float: left;
    position: relative;
    width: 523px;
}
.tag_list ul li a {
    color: #3399cc;
    padding-left: 1em;
}
.tag_cloud {
    float: right;
    position: relative;
    margin: 0 12px 0 0;
    width: 240px;
}
.tag_cloud a:hover {
    color:#333333;
}

.douban-list ul li {
    width: 80px;
    float: left;
    list-style: none outside none;
}
.douban-list ul li img {
    width: 70px;
    height: 100px;
    border: solid 1px #DDD;
}

.instagram {
    margin-top: 5px;
}
.instagram ul li {
    float: left;
    list-style: none outside none;
}
.instagram ul li img {
    border: solid 1px #DDD;
}
