		<div id="header">
			<header id="title"> 
				<h1><a href="{{site.url}}">{{site.title}}</a></h1>
			</header>
            <nav id="nav">
                <span><a href="{{site.url}}/read">Read</a></span>
                <!--span><a href="{{site.url}}/photo">Photo</a></span-->
                <span><a href="{{site.url}}/tags">Tags</a></span>
                <span><a href="{{site.url}}/guestbook">Guestbook</a></span>
                <span><a href="{{site.url}}/about">About</a></span>
            </nav>
			<div class="clear"></div>
		</div>
